# Force GitHub to recognize only Dart files
*.dart linguist-language=Dart
*.* linguist-detectable=false

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart
.dart_tool/
.pub/
build/
/android/
/ios/

